<div class="col-xs-12 col-sm-8 col-md-11 applicationSubmissionTopMargin" >
    <div id="errorMsg"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class=""> 
                <p class="applicationSubmissionTopHeader">Submit your recommendation</p>
                <p class="paragraph1">
                    After you submit, you won\'t be able to make any changes or additions to your recommendation. You may <a href="#" class="reviewAgain"><u>review everything</u></a> one more time to ensure your recommendation is exactly right before submitting.
                </p>
                <p class="paragraph2">if everything is ready, use this button to submit now.</p>
                <div class="applicationSubmissionLowerdiv">
                    <button class="btn btn-success btnRecommendationSubmission">Submit your recommendation</button>
                    <a href="#" class="applicationSubmissionReturnedLink"><u>Not ready yet-back to the form</u></a>
                </div>
            </div>
        </div>
    </div>
</div>