<div class="row">
    <div class="col-xs-12">
        <h2>{{RequesterName}}</h2>
    </div>
    <div class="col-xs-12 col-md-12">
        <section id="recommendationItem">
        </section>
    </div>
</div>