<div class="" id="recommender-center">
    <div class="row welcome-container">
        <div class="col-xs-12 col-md-2">
            <div class="welcome-image"></div>
        </div>
        <div class="col-xs-12 col-md-10">
            <h3>Welcome to the</h3>
            <h1><strong>{{SchoolName}}<strong> Recommendation Center</h1>
            <p>Lorem ipsum dolor sit amet, imperdiet lobortis nostra donec tristique, erat nunc per in sapien ullamcorper nulla, libero nisl ut enim, vestibulum eleifend leo dis sit fringilla, quis orci in vel. Rhoncus euismod, qui eget sapien maecenas, nunc fermentum egestas amet pede. Erat nostra justo, velit etiam ligula. Placerat ipsum mauris nam wisi, pede turpis enim, taciti nulla ultricies id erat aliquam nibh, lorem neque sit mi eu massa a. Mauris dolor aute, non ante est sapien, lorem nunc libero impedit, luctus vulputate. Aliquet diam rutrum, suspendisse odio et sociosqu nisl dictum justo. Id in venenatis fusce consectetuer hendrerit platea, dui libero ullamcorper et semper, vel pellentesque ipsum vestibulum et dolor. Ante penatibus aenean odio imperdiet, bibendum ultrices tincidunt lobortis.
            </p>
        </div>
    </div>
</div>
