<div class="col-sm-5 col-xs-5 col-md-5" id="recommendation-send">
    <div class="row">
        <div class="col-xs-2" id="recommendation-waiting" >
            <span class="glyphicon glyphicon-refresh"></span>
        </div>
        <div class="col-xs-10 recommendation-bottom-padding">
            <p class="pendingRecommendor">{{recommendorName}}</p>
            <span id="task-view" class="grey status-box status-progress custom-style">Information processing...</span>
        </div>
   </div>
</div>