<div class="col-sm-5 col-xs-5 col-md-5" id="recommendation-not-send">
        <p id="paragraph1">Recommendation #{{recNumber}}</p>
        <p id="paragraph2">This recommendation is <b>required</b></p>
        <div class="recommendationSendingDiv" style="visibility:hidden;"><button type="submit" id="recRequestBtn">Request now <span class="glyphicon glyphicon-chevron-right" id="padding"></span></button></div>
</div>