<div class="col-sm-5 col-xs-5 col-md-5" id="recommendation-send">
    <div class="row">        
        <div class="col-xs-2" id="recommendation-waiting" >
                <span class="glyphicon glyphicon-warning-sign"></span>
        </div>
        <div class="col-xs-10 recommendation-bottom-padding">
            <p class="pendingRecommendor">{{recommendorName}}</p>
            <p id="paragraph2"><i>Recommendation is Invalid</i></p>
            <p id="paragraph3">Request made on {{recDate}}</p>
            <p id="paragraph3">{{StatusMessage}}</p>
            <p id="paragraph4"><span class="glyphicon glyphicon-envelope" id="padding2"></span> <a href="" class="updateInfo">Update Information</a></p>
        </div>
    </div>
</div>