<div class="col-xs-12 col-sm-8 col-md-10" >
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 inprogressOverView" id="overview-container">
            <div class="alert alert-info">
                <div class="applicationDate enrolmentHeaderLeftMargin"><strong>{{Term}}</strong> recommendation</strong></div>
                <div class="leftMarginDiv"> 
                    <div class="topMarginedDiv properMargin decision-pending-paragraph" style="margin-left: 3%;">
                        <span id="task-view" class="status-box status-progress custom-style">Information processing...</span>
                    </div>
                    <div class="enrolment-bottom-margin">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>